----------------------------------------------------------------

依存関係

----------------------------------------------------------------

/node_modules
/frontend/node_modules
/backend/vendor
/backend/node_modules

----------------------------------------------------------------

環境ファイル

----------------------------------------------------------------

.env
.env.local
.env.*.local
.DS_Store

----------------------------------------------------------------

ビルド、ログ、キャッシュ

----------------------------------------------------------------

/frontend/.next
/frontend/out
/frontend/dist

/backend/storage/.key
/backend/public/hot
/backend/public/storage
/backend/bootstrap/cache/.php
/backend/vendor/

----------------------------------------------------------------

IDE / OS Specific

----------------------------------------------------------------

.vscode/
.idea/